<!DOCTYPE>
<html>
<head>
<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Poiret+One" %>
<%= stylesheet_link_tag "bootstrap/css/bootstrap.min" %>
<style>
     td{padding:6px;}

  *{
  font-family: 'Poiret One';
}
body
{
  background-image: url('/assets/bg.jpg');
  color: #fff;
  
  background-size: cover;
}
     td{padding:6px;}

     
  .bg_color
  {
    height: 1000px;
    width: 100%;
    background-color: rgba(11,124,135,0.6) !important;
  }
  .links
  {
    color: #fff !important;
    font-size: 50px !important;
    font-weight: 100 !important;
    text-decoration: none !important;
    background: none;
  }
  .black_clr
  {
    color: #000;
  }
 input[type=submit]
  {
    background: none !important;
    border: 1px solid #fff !important;
    padding: 5px !important;
  }
a
{
    background: none !important;
    border: 1px solid #fff !important;
    padding: 7px !important;
    color: #fff !important;
    text-decoration: none !important;
    margin: 10px !important;
  }

</style>
</head>
<body>
<div class="bg_color">
<center>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
    </div>
    <div class="col-md-4">
      <h1 style="font-size:100px;font-weight:100;margin-top:50px;">Edit <%= resource_name.to_s.humanize %></h1>
    </div>
  </div>
</div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
<table border="0" style="margin-top:200px;font-size:18px;">
  <tr>
  <div class="field">
    <td><%= f.label :email %></td>
    <td class="black_clr" style="font-family:sans-serif;"><%= f.email_field :email, autofocus: true %></td>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div> 
  <% end %>
</tr>
<tr>
  <div class="field">
   <td> <%= f.label :password %> <i>(leave blank if you don't want to change it)</i></td>
    <td class="black_clr" style="font-family:sans-serif;"><%= f.password_field :password, autocomplete: "off" %></td>
  </div>
</tr>
<tr>
  <div class="field">
   <td> <%= f.label :password_confirmation %></td>
    <td class="black_clr" style="font-family:sans-serif;"><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
  </div>
</tr>
<tr>
  <div class="field">
   <td> <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></td>
    <td class="black_clr" style="font-family:sans-serif;"><%= f.password_field :current_password, autocomplete: "off" %></td>
  </div>
</tr>
<tr>
  <div class="field">
   <td> </td>
    <td <%= f.label :profile_image %>class="black_clr" style="font-family:sans-serif;"><%= f.file_field :profile_image, autocomplete: "off" %></td>
  </div>
</tr>
<tr>
  <td>
  </td>
  
  <div class="actions">
   <td> <%= f.submit "Update" %></td>
  </div>

</tr>
<tr>
<% end %>
<td>
<h3>Cancel my account</h3></td>

<td><p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p></td>

<td><%= link_to "Back", :back %></td>
</tr>
</table>

</center>
</div>
</body>
</html>
