<!DOCTYPE>
<html>
<head>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Poiret+One" %>
<%= stylesheet_link_tag "bootstrap/css/bootstrap.min" %>
<style>
    td{padding:6px;}
    th{padding:6px;}
 *{
  font-family: 'Poiret One';
}



     
  
  

</style>
</head>
<body>

<center>


<p id="notice"><B><%= notice %></B></p>

<h1><B>Listing User</B></h1>

<table border="0">
  <thead>
    <tr>
     
      <th align="center"><B>Email</B></th>
      <th align="center">Profile Image</th>
      <th align="center"><B>Action</B></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td align="center" style="font-size:20px;"><B><%= user.email %></B></td>
        <td><%= image_tag user.profile_image.url(:medium) %></th></td>
        <td align="center"><B><%= link_to "Add Friend", send_friend_request_path(:friend_id => user), :method => :post, :class => 'btn btn-primary' %></B>
		</td>
      </tr>
    <% end %>
    <td align="center">&nbsp;&nbsp;&nbsp;<B><%= link_to 'Back', root_path, :class => 'btn btn-primary' %></B></td>
  </tbody>
</table>

<br>

</center>

</body>
</html>
