<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>   
td{padding:6px;}
 .sbl
   {
    display:block;
    border:1px solid #999999;
    border-radius:5px;  
    min-width:auto; 
   }
  .links
  {
    color: black !important;
    font-size: 30px !important;
    font-weight: 100 !important;
    text-decoration: none !important;
    background: none;
  }
  a
{
    background: none !important;
    border: 1px solid blue !important;
    padding: 7px !important;
    color: blue !important;
    text-decoration: none !important;
  }
</style>
</head>
<body>

<center>
<fieldset class="sbl">
<p id="notice"><%= notice %></p>
<table border="0">
  <tr>
<p>
 <td> <strong>Attachment:</strong></td>
  <td><%= image_tag @post.image.url(:thumb) %>
</td>
</p>
</tr>
<tr>
<p>
  <td><strong>Content:</strong></td>
  <td><%= @post.content %></td>
</p>
</tr>
<tr>
<p>
 <td> <strong>User:</strong></td>
  <td><%= @post.user.email %></td>
</p><br>
</tr>
<tr><br>
	<td></td><br>
<td><%= link_to 'Edit', edit_post_path(@post), :class => 'links' %></td>
<td><%= link_to 'Feed', posts_path, :class => 'links' %></td>
</table>
</fieldset>
</center>
</body>
</html>